{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock  %} | Mis perris  </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo2.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/galery2.css' %}">
</head>
<body>
<div class="container-fluid" >
        <header class="row  sticky-top">

           
            <div class="Container-login" style="background: #79F3C8" class="row login">
                {% if user.is_authenticated %}
            
                  <form method="post" action="/logout/">
            
                   {% csrf_token %}
            
                   Bienvenido: {{user}}
            
                   <input type="submit" value="Salir" />
            
                   <input type="hidden" name="next" value="{% url 'index' %}">
            
                  </form>
            
                {% else %}
            
                  <form method="post" action="/login/">
            
                   {% csrf_token %}
            
                   Usuario <input type="text" name="username">
            
                   Password <input type="password" name="password">
            
                   <input type="submit" value="Entrar" />
            
                   <input type="hidden" name="next" value="{% url 'index' %}">
                   
                {% endif %}
                  </form>
              </div>
              
              
                <nav class="navbar col-12   navbar-expand-md">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" width="260" height="52" alt="NO HAYs"></a>
                    <button class="navbar-toggler   custom-toggler " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav text-center mx-auto ">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'index' %}">Inicio</span></a>
                        </li>
                        <div class="dropdown ">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rescatados
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu text-center">
                            <li><a href="{% url 'ver' %}">Ver perritos rescatados</a></li>
                            <li><a href="{% url 'crea' %}">Añadir rescatado</a></li>
                          </ul>
                        </div> 
                        <li class="nav-item">
                          <a class="nav-link " href="{% url 'contacto' %}">Regístrate</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </header>

            {% block content %}
            <!-- CONTENIDO-->
            {% endblock %}


            <footer style="background: #69F7B5"class="row p-3">
              <div class="cont">
                  <p class="copy">Mis Perris &copy; 2018</p>
                  <a href="tel:56998765431">
                      <br>+569 9 876 654 31
                  </a>
                  <div class="row justify-content-center mt-4 mb-4">
                  <div class="social  ">
                  <a  href="#">
                   <img src="{% static 'img/icons/facebook.png' %}" width="32" height="32" alt="">
                 </a>
                 <a  href="#">
                         <img src="{% static 'img/icons/google.png' %}" width="32" height="32" alt="">
                 </a>
                 <a  href="#">
                         <img src="{% static 'img/icons/instagram.png' %}" width="32" height="32" alt="">
                </a>
                <a  href="#">
                     <img src="{% static 'img/icons/mail.png' %}" width="32" height="32" alt="">
                 </a>
  
              </div>
          </div>
              </div>
          </footer>
   <!-- FIN DEL CONTAINER -->   
</div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>